<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nöbetçi Eczane Api</title>
    <!-- Bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <!-- Vue3 CDN -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"
      integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <header class="bg-primary text-center text-light">
      <p class="display-6">Nöbetçi Eczaneler</p>
    </header>
    <div id="app" class="container mt-5">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card">
            <div class="card-header"><h3>Adres Bilgileri</h3></div>
            <div class="card-body">
              <div class="form-floating mb-2">
                <input
                  v-model="userData.province"
                  type="text"
                  class="form-control"
                  placeholder="İstanbul"
                  id="province"
                />
                <label for="province">İl</label>
              </div>
              <div class="form-floating mb-2">
                <input
                  v-model="userData.city"
                  type="text"
                  class="form-control"
                  placeholder="Beylikdüzü"
                  id="Kent"
                />
                <label for="Kent">İlçe</label>
              </div>
              <div class="d-grid gap-2">
                <button
                  :disabled="validate"
                  @click="search"
                  class="btn btn-primary"
                >
                  Arama Yap
                </button>
              </div>
            </div>
          </div>
          <div v-if="isLoading" class="text-center mt-5">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div v-if="validate" class="alert alert-primary mt-4">
            Lütfen tüm alanları doldurunuz...
          </div>
          <div v-if="alert" class="alert alert-danger mt-4">
            Böyle bir adres bulunamadı...
          </div>
          <div v-if="pharmacyList.length > 0" class="card mt-2">
            <div class="card-header"><h5>Nöbetçi eczaneler</h5></div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">İsim</th>
                    <th scope="col">Adres</th>
                    <th scope="col">Tel.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(pharmacy, index) in pharmacyList" :key="pharmacy">
                    <th scope="row">{{ index + 1 }}</th>
                    <td>{{ pharmacy.name }}</td>
                    <td>{{ pharmacy.address }}</td>
                    <td>
                      <a :href="`tel:${pharmacy.phone}`"
                        >{{ pharmacy.phone }}
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            userData: {
              province: null,
              city: null,
            },
            alert: false,
            isLoading: false,
            pharmacyList: [],
          };
        },
        methods: {
          search() {
            (this.isLoading = true),
              setTimeout(() => {
                axios
                  .get(
                    `https://api.collectapi.com/health/dutyPharmacy?ilce=${this.userData.city}&il=${this.userData.province}`,
                    {
                      headers: {
                        Authorization:
                          "apikey 6EKLBNV6AiIv6jFKjRfm6o:1pv53evLSPZRP2vSgbOx0L",
                      },
                    }
                  )
                  .then((res) => {
                    if (
                      res.data.status === "404" ||
                      res.data.status === "400"
                    ) {
                      this.alert = true;
                      this.isLoading = false;
                    } else {
                      this.pharmacyList = res.data.result;
                      this.isLoading = false;
                      console.log(res);
                    }
                  })
                  .catch((err) => console.error(err.error));
              }, 500);
          },
        },
        computed: {
          validate() {
            return (
              this.userData.province === null ||
              this.userData.province === "" ||
              this.userData.city === null ||
              this.userData.city === ""
            );
          },
        },
        watch: {
          alert(v) {
            if (v) {
              setTimeout(() => {
                this.alert = false;
              }, 2000);
            }
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
